<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Website</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Blogify</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/create_blog.html"
              >Create Post</a
            >
          </div>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <div class="row g-2">
        <% blogs.forEach(blog => { %>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <!-- <img src="..." class="card-img-top" alt="..." /> -->
              <div class="card-body" >
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text">
                  <%= blog.subtext %> ...
                </p>
                <a href="/viewblog/<%= blog.id %>" class="btn btn-primary">Open Blog</a>
              </div>
            </div>
          </div>
        <% }); %>

      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
