body {
  background-color: black;
  padding: 50px;
}

.form-container {
  max-width: 100%;
  margin: auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: #babec2;
  position: relative;
  left: 100%;
}
.form-label {
  font-size: 2rem;
}
